.inner_hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    width: 80%;
}

.hero{
    height: 100vh;
    background-color: var(--ast-global-color-4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/leaf_background.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 28% auto;
}
    
.hero_content{
    color: var(--ast-global-color-6);
    font-weight: bold;
    text-align: left;
    width: 70%;
    padding-left: 50px;
    font-family: 'Merriweather',serif;
}

.hero_content_image{
    padding: 30px;
    margin-bottom: 40px;
}

.hero_content_heading{
    font-size: 4rem;
}
.hero_content_subheading{
    font-size: 1.1rem;
    font-weight: 600;
}

.hero_content_text{
    font-size: 1.1rem;
    font-weight: 300;
}

.hero_content div{
    padding: 10px 0px;
}


/*Features */


.features{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0px;
    background-color: var(--ast-global-color-8);
    height: 15vh;
}
.inner_features{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}
.products{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bestSellingProductsHead{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 500;
    color: var(--ast-global-color-6);
    margin-bottom: 80px;
  }
  

.bestSellingProducts{
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    padding: 50px 0px;
}

.bestProductsTitle{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--ast-global-color-6);
}
.bestSellingProductsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

.categories{
    height: 80vh;
    background-color: var(--ast-global-color-4);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories img{
    position: absolute;
    top: -7%;
    left: 45%;
}

.categoryContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.discount{
    height: 8vh;
    color: #fff;
    background-color: var(--ast-global-color-8);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
.discount h3{
    font-size: 32px;
    font-weight: 700;
}
.tryfree{
    height: 6vh;
    text-align: center;
    font-size: 24px;
    background-color: var(--ast-global-color-4);
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviewproducts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ast-global-color-4);
}

footer{
    background-color: var(--ast-global-color-8);
}